<form class="form update-form" method="POST" action="{% url 'update_cart' item.game_id %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="decrement-qty btn" 
                    data-game_id="{{ item.game_id }}" id="decrement-qty_{{ item.game_id }}">
                    <span>
                        <i class="fas fa-minus fa-sm"></i>
                    </span>
                </button>
            </div>
            <input class="qty_input" type="number"
                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                data-game_id="{{ item.game_id }}"
                id="id_qty_{{ item.game_id }}">
            <div class="input-group-append">
                <button class="increment-qty btn"
                    data-game_id="{{ item.game_id }}" id="increment-qty_{{ item.game_id }}">
                    <span>
                        <i class="fas fa-plus fa-sm"></i>
                    </span>
                </button>
            </div>
        </div>
        <input type="hidden" name="redirect_url" value="{{ request.path }}">
    </div>
</form>
<a class="update-link text-info">Update</a>