{% extends "base.html" %}
{% load static %}

{% block content %}
<!--Custom Code for the index page-->
<section class="page-section container">
    <div class="jumbotron mt-4">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
            featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
    <div class="feature-title">
        <h2>Featured Games</h2>
        <hr>
    </div>
    <div class="row mb-5">
        {% if games|length > 0 %}
            {% for game in games %}
                <div class="col-sm-4 mb-5">
                    <div class="card">
                        {% if game.image %}
                            <a href="{% url 'game_detail' game.id %}">
                                <img class="card-img-top img-fluid" src="{{ game.image.url }}" alt="{{ game.name }}">
                            </a>
                        {% else %}
                            <a href="{% url 'game_detail' game.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ game.name }}">
                            </a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ game.name }}</h5>
                            <p class="card-text">Price: &euro; {{ game.price }}</p>
                            <div class="row">
                                <div class="col-sm-12 col-6 col-md-6 mb-2 details">
                                    <a href="{% url 'game_detail' game.id %}" class="btn">Details</a>
                                </div>
                                <div class="col-sm-12 col-6 col-md-6 add">
                                    <a href="#" class="btn btn-add">Add</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h3 class="col-sm-12 text-center">No Games Found!</h3>   
        {% endif %}
    </div>
</section>
{% endblock %}