<!-- Used the Boutique Ado example -->
<script type="text/javascript">

    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(gameId) {
        var currentValue = parseInt($(`#id_qty_${gameId}`).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;
        $(`#decrement-qty_${gameId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${gameId}`).prop('disabled', plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var gameId = $(allQtyInputs[i]).data('game_id');
        handleEnableDisable(gameId);
    }

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function() {
        var gameId = $(this).data('game_id');
        handleEnableDisable(gameId);
    });

    // Increment quantity
    $('.increment-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue + 1);
       var gameId = $(this).data('game_id');
       // Custom Fix for disabling the plus button
       if(currentValue >= 98){
        $(closestInput).val(99);
        $(this).prop('disabled', true);
       } 
    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue - 1);
       var gameId = $(this).data('item_id');
       handleEnableDisable(gameId);
    });

    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })

</script>