html {
    height: 100%;
}

body {
    background-color: #0a0717;
    font-family: 'Rubik', sans-serif;
}

.active {
    text-decoration: underline;
}

/*Custom Code for the Header Section*/
.page-header {
    height: 100%;
    font-family: 'Orbitron', sans-serif;
}

.navbar-toggler {
    cursor: pointer;
}

.navbar-brand {
    font-size: 22pt;
}

.navbar {
    height: 100px;
    background-color: rgba(100, 100, 100, .4);
}

.social-links li{
    display: inline;
    list-style-type: none;
}

.social-links{
    padding: 0px;
}

.customer-links {
    margin-left: 5px;
}

.customer-links li{
    display: inline;
    list-style-type: none;
}

.customer-links li a{
    text-decoration: none;
}

.customer-links li a:active{
    text-decoration: none;
}

/*Custom Code for search bar*/
.search-toggle-collapse {
    visibility: collapse;
    width: 0;
    padding: 0 10px 0 10px;
    border-radius: 10px;
    transition: ease-out .1s;
}

.search-toggle {
    visibility: visible;
    width: 150px;
    padding: 0 10px 0 10px;
    border-radius: 10px;
    transition: ease-in 1.25s;
}

.customer-container {
    width: 350px;
}

/*Custom Code for the Card Display*/
.card-display {
    padding: 0 15px 0 15px;
}

/*Custom Code for the Footer Section*/
.page-footer {
    color: white;
    height: 100px;
    background-color: rgba(100, 100, 100, .4);
    font-family: 'Orbitron', sans-serif;
}

/*Test CSS for mobile menu https://www.codeply.com/go/JPkcW2yWrB*/
@media (max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 75%;
        height: 100%;
        background-color: black;
        z-index: 1;
    }

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }
}

/* Slightly larger container on xl screens - Code from Boutique Ado project */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }