/* Custom CSS for Global styling */
html {
    height: 100%;
}

body {
    background-color: #0b0c10;
    font-family: 'Rubik', sans-serif;
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("/media/bg.jpg");
}

section {
    padding-bottom: 100px;
}

p {
    color: white;
}

h1,
h2,
h3 {
    color: white;
    font-family: 'Orbitron', sans-serif;
}

hr {
    border-top: 2px solid #c5c6c7;
}

th, 
td {
    color: white;
}

strong {
    color: white;  
}

.active {
    text-decoration: underline;
}

.btn {
    width: 85px;
    background-color: #45a29e;
    color: white;
}

.btn:hover {
    color: #1f2833;
}

.btn:active {
    background-color: #66fcf1;
}

.btn-decoration {
    border: 2px solid #c5c6c7;
}

.btn-long {
    width: 150px;
}

.btn-danger {
    width: 85px;
    background-color: firebrick;
}

input[type=number] {
    width: 75px !important;
    padding: 0 15px 0 15px
}

.remove-item-mobile {
    visibility: collapse;
}

label {
    color: white;
}

.links {
    color: #66fcf1;
}

.links:hover {
    color: #45a29e;
}

.links-dark strong{
    color: #000;
}

.links-dark:hover{
    color: #000;
}

.add-form {
    min-width: 150px;
}

/* Custom CSS for the jumbotron */
.jumbotron {
    background-color: rgba(31, 40, 51, .4);
}


/*Custom CSS for the Header Section*/
.page-header {
    height: 100%;
    font-family: 'Orbitron', sans-serif;
}

.navbar-toggler,
.update-link,
.remove-item {
    cursor: pointer;
}

.custom-navbar-brand {
    font-size: 22pt;
    color: white;
}

.custom-navbar-brand:hover {
    text-decoration: none;
    color: #66fcf1;
}

.custom-navbar-brand:active {
    text-decoration: none;
    color: #45a29e;
}

.navbar {
    height: 100px;
    background-color: rgba(31, 40, 51, .4);
}

.nav-item a{
    color: white;
}

.nav-item a:hover{
    color: #66fcf1;
    text-decoration: underline;
}

.nav-item a:active{
    color: #45a29e;
}

.dropdown-menu {
    background-color: #1f2833;
    border: 2px solid #c5c6c7;
}

.dropdown-menu a:hover{
    background-color: #1f2833;
}

.dropdown-link {
    color: white;
}

.dropdown-link:active {
    color: #45a29e;
    text-decoration: underline;
}

.dropdown-link:hover {
    color: #66fcf1;
    text-decoration: underline;
}

.item-count {
    font-size: 12pt;
}

/* Custom CSS for Customer Links */
.customer-container {
    width: 350px;
}

.customer-links {
    margin-left: 5px;
}

.customer-links li{
    display: inline;
    list-style-type: none;
}

.customer-links li a{
    text-decoration: none;
}

.customer-links li a:active{
    text-decoration: none;
}

.customer-links i{
    color: white;
}

.customer-links i:hover{
    color: #66fcf1;
}

.customer-links i:active{
    color: #45a29e;
}

/* Custom CSS for search bar */
.search-toggle-collapse {
    visibility: collapse;
    width: 0;
    padding: 0 10px 0 10px;
    border-radius: 10px;
    transition: ease-in .1s;
}

.search-toggle {
    visibility: visible;
    width: 40%;
    padding: 0 10px 0 10px;
    border-radius: 10px;
    border: 2px solid #c5c6c7;
    transition: ease-out .25s;
}

/* Custom CSS for the Card Display */
.card {
    border: 2px solid #c5c6c7;
}

.card-body {
    background-color: #c5c6c7;
}

.card-text,
.card-title { 
    color: #1f2833;
}

.card-img {
    height: 350px;
}

.btn-add {
    float: right !important;
}

/* Custom CSS for Product Page */
.all-games {
    margin-bottom: 50px;
}

.logo-font {
    color: white;
    font-family: 'Orbitron', sans-serif;
}

.muted {
    color: #c5c6c7;
}

.game-title {
    font-size: 26pt;
    color: white;
}

.game-description {
    font-size: 12pt;
    color: white;
}

.game-price {
    font-size: 18pt;
    color: white;
}

/* Custom CSS for Cart Page */
.game-description-name {
    font-size: 18pt;
}

.game-description-content {
    font-size: 14pt;
}

.text-green {
    color: #66fcf1;
}

/* Custom CSS for the Footer Section */
.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px; 
    color: white;
    background-color: rgba(31, 40, 51, .4);
    font-family: 'Orbitron', sans-serif;
}

/* Custom CSS for Social Links */
.social-links li{
    display: inline;
    list-style-type: none;
}

.social-links{
    padding: 0px;
}

.social-links i{
    color: white;
}

.social-links i:hover{
    color: #66fcf1;
}

.social-links i:active{
    color: #45a29e;
}

/*Code from Boutique Ado*/
.message-container {
    position: fixed;
    top: 40px;
    right: 15px;
    z-index: 99999999999;
}

.message-container strong{
    color: black;
}

.custom-toast {
    overflow: visible;
}

.custom-toast-bg {
    background-color: #45a29e !important;
}

.toast-capper {
    height: 2px;
}

.toast-body p{
    color: #1f2833;
}

/* Custom CSS for Checkout Success page */
.checkout-success-section p {
    color: white;
}

/* CSS for mobile menu https://www.codeply.com/go/JPkcW2yWrB */
@media (max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 75%;
        height: 100%;
        background-color: black;
        z-index: 1;
    }

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }

    /* Custom Code for the details and add buttons */
    .details {
        padding-left: 5px;
    }

    .add {
        padding-right: 5px;
        float: left !important;
    }

    .message-container {
        right: 5px;
    }
}

/* Custom CSS for Card on mobile */
@media screen and (max-width: 768px) and (min-width:576px){
    .add {
        padding-left: 5px;
    }
    .btn-add {
        padding-left: 5px;
        float: left !important;
    }
    .remove-item-mobile {
        visibility: visible;
        margin-left: 15px;
    }
}

@media (max-width:576px){
    .remove-item-mobile {
        visibility: visible;
        margin-left: 15px;
    }
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Slightly larger container on xl screens - Code from Boutique Ado project */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }

    .btn {
        width: 80px;
    }

    .btn-long {
        width: 150px !important;
    }

    .add {
        float: right !important;
    }
}