/* Custom CSS for Global styling */
html {
    height: 100%;
}

body {
    background-color: #0b0c10;
    font-family: 'Rubik', sans-serif;
}

h2,h3 {
    color: white;
    font-family: 'Orbitron', sans-serif;
}

hr {
    border-top: 2px solid #c5c6c7;
}

th, 
td {
    color: white;
}

strong {
    color: white;  
}

.active {
    text-decoration: underline;
}

.btn {
    width: 85px;
    background-color: #45a29e;
    color: white;
}

.btn:hover {
    color: #1f2833;
}

.btn:active {
    background-color: #66fcf1;
}

.btn-decoration {
    border: 2px solid #c5c6c7;
}

.btn-long {
    width: 150px;
}

.btn-danger {
    width: 85px;
    background-color: firebrick;
}

input[type=number] {
    width: 75px !important;
    padding: 0 15px 0 15px
}

/*Custom CSS for the Header Section*/
.page-header {
    height: 100%;
    font-family: 'Orbitron', sans-serif;
}

.navbar-toggler,
.update-link,
.remove-item {
    cursor: pointer;
}

.custom-navbar-brand {
    font-size: 22pt;
    color: white;
}

.custom-navbar-brand:hover {
    text-decoration: none;
    color: #66fcf1;
}

.custom-navbar-brand:active {
    text-decoration: none;
    color: #45a29e;
}

.navbar {
    height: 100px;
    background-color: #1f2833;
}

.nav-item a{
    color: white;
}

.nav-item a:hover{
    color: #66fcf1;
    text-decoration: underline;
}

.nav-item a:active{
    color: #45a29e;
}

.dropdown-menu {
    background-color: #1f2833;
    border: 2px solid #c5c6c7;
}

.dropdown-menu a:hover{
    background-color: #1f2833;
}

/* Custom CSS for Customer Links */
.customer-container {
    width: 350px;
}

.customer-links {
    margin-left: 5px;
}

.customer-links li{
    display: inline;
    list-style-type: none;
}

.customer-links li a{
    text-decoration: none;
}

.customer-links li a:active{
    text-decoration: none;
}

.customer-links i{
    color: white;
}

.customer-links i:hover{
    color: #66fcf1;
}

.customer-links i:active{
    color: #45a29e;
}

/* Custom CSS for search bar */
.search-toggle-collapse {
    visibility: collapse;
    width: 0;
    padding: 0 10px 0 10px;
    border-radius: 10px;
    transition: ease-in .1s;
}

.search-toggle {
    visibility: visible;
    width: 200px;
    padding: 0 10px 0 10px;
    border-radius: 10px;
    border: 2px solid #c5c6c7;
    transition: ease-out .25s;
}

/* Custom CSS for the Card Display */
.card {
    border: 2px solid #c5c6c7;
}

.card-body {
    background-color: #c5c6c7;
}

.btn-add {
    float: right !important;
}

/* Custom CSS for Product Page */
.all-games {
    margin-bottom: 50px;
}

.logo-font {
    color: white;
    font-family: 'Orbitron', sans-serif;
}

.muted {
    color: #c5c6c7;
}

.game-title {
    font-size: 26pt;
    color: white;
}

.game-description {
    font-size: 12pt;
    color: white;
}

.game-price {
    font-size: 18pt;
    color: white;
}

/* Custom CSS for Cart Page */
.game-description-name {
    font-size: 18pt;
}

.game-description-content {
    font-size: 14pt;
}

.text-green {
    color: #66fcf1;
}

/* Custom CSS for the Footer Section */
.page-footer {
    color: white;
    height: 100px;
    background-color: #1f2833;
    font-family: 'Orbitron', sans-serif;
}

/* Custom CSS for Social Links */
.social-links li{
    display: inline;
    list-style-type: none;
}

.social-links{
    padding: 0px;
}

.social-links i{
    color: white;
}

.social-links i:hover{
    color: #66fcf1;
}

.social-links i:active{
    color: #45a29e;
}

/* CSS for mobile menu https://www.codeply.com/go/JPkcW2yWrB */
@media (max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 75%;
        height: 100%;
        background-color: black;
        z-index: 1;
    }

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }

    /* Custom Code for the details and add buttons */
    .details {
        padding-left: 5px;
    }

    .add {
        padding-right: 5px;
        float: left !important;
    }
}

/* Custom CSS for Card on mobile */
@media screen and  (max-width: 768px) and (min-width:576px){
    .add {
        padding-left: 5px;
    }
    .btn-add {
        padding-left: 5px;
        float: left !important;
    }
}

/* Slightly larger container on xl screens - Code from Boutique Ado project */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }

    .btn {
        width: 80px;
    }

    .btn-long {
        width: 150px !important;
    }

    .add {
        float: right !important;
    }
}