<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mb-2 mb-lg-0 ml-auto">
        <li class="nav-item">
            <a class="nav-link {% if nav == 'home' %} active {% endif %}" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link {% if nav == 'all_games' %} active {% endif %}" href="#" id="all-games-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Games
            </a>
            <div class="dropdown-menu" aria-labelledby="all-games-link">
                <a href="{% url 'games' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'games' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'games' %}?sort=name&direction=asc" class="dropdown-item ">By Name</a>
                <a href="{% url 'games' %}" class="dropdown-item">All Games</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link {% if nav == 'genre' %} active {% endif %}" href="#" id="games-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Genre
            </a>
            <div class="dropdown-menu" aria-labelledby="games-link">
                <a href="{% url 'games' %}?category=action" class="dropdown-item">Action</a>
                <a href="{% url 'games' %}?category=adventure" class="dropdown-item">Adventure</a>
                <a href="{% url 'games' %}?category=fighter" class="dropdown-item">Fighter</a>
                <a href="{% url 'games' %}?category=fps" class="dropdown-item">First Person Shooters</a>
                <a href="{% url 'games' %}?category=horror" class="dropdown-item">Horror</a>
                <a href="{% url 'games' %}?category=platformer" class="dropdown-item">Platformer</a>
                <a href="{% url 'games' %}?category=puzzel" class="dropdown-item">Puzzel</a>
                <a href="{% url 'games' %}?category=sports" class="dropdown-item">Sports</a>
                <a href="{% url 'games' %}?category=rpg" class="dropdown-item">Role-Playing Games</a>
                <a href="{% url 'games' %}" class="dropdown-item">All Genres</a>
            </div>
        </li>
    </ul>
</div>