<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mb-2 mb-lg-0 ml-auto">
        <li class="nav-item">
            <a class="nav-link {% if nav == 'home' %} active {% endif %}" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link {% if nav == 'all_games' %} active {% endif %}" href="#" id="all-games-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Games
            </a>
            <div class="dropdown-menu" aria-labelledby="all-games-link">
                <a href="{% url 'games' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'games' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'games' %}?sort=name&direction=asc" class="dropdown-item ">By Name</a>
                <a href="{% url 'games' %}" class="dropdown-item">All Games</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link {% if nav == 'genre' %} active {% endif %}" href="#" id="games-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Genre
            </a>
            <div class="dropdown-menu" aria-labelledby="games-link">
                {% for category in categories %}
                    <a href="{% url 'games' %}?category={{ category.name }}" class="dropdown-item">{{ category.friendly_name }}</a> 
                {% endfor %}
                <a href="{% url 'games' %}" class="dropdown-item">All Genres</a>
            </div>
        </li>
    </ul>
</div>