{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

<!-- Custom Updated template to match project styles -->
{% block inner_content %}

    <h2 class="logo-font mt-4">{% trans "Change Password" %}</h2>
    <hr>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <a class="btn" href="{% url 'account_login' %}">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            Back
        </a>
        <button class="btn btn-long" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
