{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container game-details">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="image-container my-5">
                {% if game.image %}
                    <a href="{{ game.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ game.image.url }}" alt="{{ game.name }}">
                    </a>
                    {% else %}
                    <a href="#">
                        <img class="card-img-top img-fluid" src="/media/noimage.png" alt="{{ game.name }}">
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="mb-5 mt-md-5">
                <p class="game-title">
                    {{ game.name }}
                    {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a class="links" href="{% url 'edit_game' game.id %}">Edit</a> | 
                            <a class="text-danger" href="{% url 'delete_game' game.id %}">Delete</a>
                        </small>
                    {% endif %}
                </p>
                <p class="game-description mb-0">{{ game.description }}</p>
                <p class="game-price mb-0">&euro; {{ game.price }}</p>
                {% if game.category %}
                <p class="small mt-1 mb-0">
                    <a class="muted" href="{% url 'games' %}?category={{ game.category.name }}">
                        <i class="fas fa-tag mr-1"></i>{{ game.category.friendly_name }}
                    </a>
                </p>
                {% endif %}
                <form class="form" action="{% url 'add_to_cart' game.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn" 
                                            data-item_id="{{ game.id }}" id="decrement-qty_{{ game.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="qty_input" type="number"
                                        name="quantity" value="1" min="1" max="99"
                                        data-item_id="{{ game.id }}"
                                        id="id_qty_{{ game.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn"
                                            data-item_id="{{ game.id }}" id="increment-qty_{{ game.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <a href="{% url 'games' %}" class="btn btn-long mt-3">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Browse</span>
                            </a>
                            <input type="submit" class="btn text-uppercase mt-3" value="Add">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

<!-- Used the Boutique Ado example -->
{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}
