{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container game-details">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="image-container my-5">
                {% if game.image %}
                    <a href="{{ game.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ game.image.url }}" alt="{{ game.name }}">
                    </a>
                    {% else %}
                    <a href="#">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ game.name }}">
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="product-details-container mb-5 mt-md-5">
                <p class="game-title">{{ game.name }}</p>
                <p class="game-description mb-0">{{ game.description }}</p>
                <p class="game-price mb-0 font-weight-bold">&euro; {{ game.price }}</p>
                {% if game.category %}
                <p class="small mt-1 mb-0">
                    <a class="muted" href="{% url 'games' %}?category={{ game.category.name }}">
                        <i class="fas fa-tag mr-1"></i>{{ game.category.friendly_name }}
                    </a>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
